<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/autor.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Frank Payne</title>
</head>

<%- include('./header.ejs') %>

<body>

<!--Inicio do Mobile-->

<div class="autor_page_mobile">

    <div class="autor_container_mobile">
        <h1>MARCELO GAMÓN</h1>
        
        <img id="fotoMarceloGamon_mobile" src="../img/marceloGamon.jpeg">

        <span id="span_mobile">
            Marcelo Castilho Gamón nasceu em São Paulo no dia 17 de Abril de 1985.</span>
        <span id="span_mobile">
            Sempre foi fã de filmes e literatura de aventura e fantasia, e cita Júlio Verne, Dan Brown, Tolkien, Rick Riordan, Stevenson e, claro J. K. Rowling como algumas de suas leituras favoritas e maiores influências.</span>
        <span id="span_mobile"> 
            Iniciou sua carreira como químico, mas logo optou por trabalhar na área comercial, pois sentia necessidade de interação com as pessoas.</span>
        <span id="span_mobile">
            Apaixonado por história desde muito novo, seu maior sonho era conhecer e aprender sobre a cultura, religião, folclore e mitologia de todos os povos do planeta azul.</span>
        <span id="span_mobile">
            Ao passar dos anos, se tornou um grande estudioso dos povos antigos, resolvendo juntar seus conhecimentos, com uma pitada de aventura e fantasia, para publicar em 2021 sua primeira obra, fruto de um notável sonho: Frank Payne e a Caverna Misteriosa.</span>
        </span>
    </div>
</div>

<!--Final do Mobile-->


<!--Inicio do Desktop-->

<div class="autor_page_desktop">
    <div class="separacao_lados_desktop">
        <div class="lado_esquerdo_desktop">
            <img id="fotoMarceloGamon_desktop" src="../img/marceloGamon.jpeg">

            <h4>REDES SOCIAIS DO AUTOR</h4>
            <div class="autor_redes_desktop">
                <a class="facebook_desktop" href="http://facebook.com/marcelogamon85" target="_blank" rel="noopener noreferrer"><img src="../img/Facebook.png"></a>
                <a class="instagram_desktop" href="http://instagram.com/marcelo_gamon" target="_blank" rel="noopener noreferrer"><img src="../img/instagram.png"></a>
                <a class="wattpad_desktop" href="https://www.wattpad.com/user/marcelogamon" target="_blank" rel="noopener noreferrer"><img src="../img/wattpad.png"></a>
                
            </div>

            <h4>REDES SOCIAIS DOS LIVROS</h4>
            <div class="autor_redes_desktop">
                <a class="facebook_desktop" href="http://facebook.com/frankpayne.livros" target="_blank" rel="noopener noreferrer"><img src="../img/Facebook.png"></a>
                <a class="instagram_desktop" href="http://instagram.com/frankpayne.livros" target="_blank" rel="noopener noreferrer"><img src="../img/instagram.png"></a>
                <a class="twitter_desktop" href="https://twitter.com/FrankPayneBR" target="_blank" rel="noopener noreferrer"><img src="../img/twitter.png"></a>
            </div>


        </div>
        
        <div class="lado_direito_desktop">
            <h1>MARCELO GAMÓN</h1>
            <span id="span_desktop">
                Marcelo Castilho Gamón nasceu em São Paulo no dia 17 de Abril de 1985.</span>
            <span id="span_desktop">
                Sempre foi fã de filmes e literatura de aventura e fantasia, e cita Júlio Verne, Dan Brown, Tolkien, Rick Riordan, Stevenson e, claro J. K. Rowling como algumas de suas leituras favoritas e maiores influências.</span>
            <span id="span_desktop"> 
                Iniciou sua carreira como químico, mas logo optou por trabalhar na área comercial, pois sentia necessidade de interação com as pessoas.</span>
            <span id="span_desktop">
                Apaixonado por história desde muito novo, seu maior sonho era conhecer e aprender sobre a cultura, religião, folclore e mitologia de todos os povos do planeta azul.</span>
            <span id="span_desktop">
                Ao passar dos anos, se tornou um grande estudioso dos povos antigos, resolvendo juntar seus conhecimentos, com uma pitada de aventura e fantasia, para publicar em 2021 sua primeira obra, fruto de um notável sonho: Frank Payne e a Caverna Misteriosa.</span>
        </div>
    </div>
</div>

<!--Final do desktop-->

</body>

<%- include('./footer.ejs') %>
    
</html>