<footer>

    <!--Inicio do footer_mobile--> 
    <div class="footer_mobile">
        <h2>SIGA NOSSAS REDES SOCIAIS</h2>
        <div class="footer_redes_mobile">
                <a class="facebook_mobile" href="http://facebook.com/frankpayne.livros"><img src="../img/Facebook.png"></a>
                <a class="instagram_mobile" href="http://instagram.com/frankpayne.livros"><img src="../img/instagram.png"></a>
                <a class="twitter_mobile" href="https://twitter.com/FrankPayneBR"><img src="../img/twitter.png"></a>
        </div>
        <h4>Copyright©2022, FRANK PAYNE. Todos os direitos reservados. </h4>
    </div>
        <!--Final do footer_mobile-->
    
    
    <!--Inicio do footer_desktop--> 
        <div class="footer_desktop">
            <h2>SIGA NOSSAS REDES SOCIAIS</h2>
            <div class="footer_redes_contatos_desktop">
                <div class="footer_contatos_desktop">
                    <div class="footer_email_desktop">
                        <img src="../img/mail_footer_desktop.png">
                        <h3>contato@frankpayne.com.br</h3>
                    </div>
                    <div class="footer_tel_desktop">
                        <img src="../img/phone_footer_desktop.png">
                        <h3>+55 11 98788-1002</h3>
                    </div>
                </div>
                <div class="footer_redes_desktop">
                        <a class="facebook_desktop" href="http://facebook.com/frankpayne.livros" target="_blank" rel="noopener noreferrer"><img src="../img/Facebook.png"></a>
                        <a class="instagram_desktop" href="http://instagram.com/frankpayne.livros" target="_blank" rel="noopener noreferrer"><img src="../img/instagram.png"></a>
                        <a class="twitter_desktop" href="https://twitter.com/FrankPayneBR" target="_blank" rel="noopener noreferrer"><img src="../img/twitter.png"></a>
                </div>
            </div>
            <h4>Copyright©2022, FRANK PAYNE. Todos os direitos reservados. </h4>
        </div>
            <!--Final do footer_desktop-->
    </footer>
    