<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/livro1.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <title>Frank Payne</title>
</head>


<%- include('./header.ejs') %>


<body>

<!--Inicio do Mobile-->

    <div class="livro1_page_mobile">

        <div class="livro1_container_mobile">
            <h1>FRANK PAYNE</h1>
            <h2>E A<br>CAVERNA MISTERIOSA</h2>
            <h3>Livro 1</h3>
            
            <img id="capa_mobile" src="../img/capa_livro1.jpg">
            <h3> FORMATOS DISPONÍVEIS</h3>
            <div id="formatos_links_mobile">
                <button class="ebook_submit_mobile" data-button="" type="submit" onclick = "window.open ('https://www.wattpad.com/story/272868084-frank-payne-e-a-caverna-misteriosa', '_ blank');">Ebook</button>
                <button class="capaDura_submit_mobile" data-button="" type="submit">Capa Dura</button>
            </div>

            <span id="span1_mobile">Clique no ícone abaixo, faça grátis o download dos primeiros capítulos e comece a ler agora mesmo</span>
            <a id="a_download_icon_mobile" href="../pdf/Frank_Payne_01_amostra.pdf" download><img id="download_icon_mobile" src="../img/download.svg"></a>
            <span id="span2_mobile">O empolgante início da série de cinco livros sobre as
                aventuras fantásticas de
                Frank Payne</span>
            
            <div id="spans_mobile">
                <span id="span3_mobile">Publicação:</span>
                <span id="span4_mobile">1ª edição (8 junho 2021)</span>
            </div>
            <div id="spans_mobile">
                <span id="span3_mobile">Idioma:</span>
                <span id="span4_mobile">Português</span>
            </div>
            <div id="spans_mobile">
                <span id="span3_mobile">Número de páginas:</span>
                <span id="span4_mobile">302 páginas</span>
            </div>
            <div id="spans_mobile">
                <span id="span3_mobile">Categoria:</span>
                <span id="span4_mobile">Literatura Infanto-Juvenil</span>
            </div>
            <div id="spans_mobile">
                <span id="span3_mobile">ISBN (Ebook):</span>
                <span id="span4_mobile">978-65-00-24538-7</span>
            </div>
            <div id="spans_mobile">
                <span id="span3_mobile">ISBN (Capa Dura):</span>
                <span id="span4_mobile">978-65-00-31663-6</span>
            </div>

            <span id="span5_mobile">FRANK PAYNE E A CAVERNA MISTERIOSA</span>
            <span id="sinopse_mobile">Até onde você iria para encontrar seu pai desaparecido e dado como morto há cinco anos, mas que acabara de se comunicar com você de uma forma totalmente imprevisível?
                <br><br>Frank Payne, um garoto de 17 anos, acabou de receber do mar uma enigmática pedra que faz sua vida virar de cabeça para baixo, após descobrir algumas inscrições em uma língua desconhecida indicando o paradeiro de seu pai Douglas, que desapareceu há cinco anos.
                <br><br>Junto de sua amiga Barbara e seu avô Walter partem para a ilha de Guam, no extremo pacífico. Dentro de um submarino chegam às profundezas do oceano, precisamente na Fossa das Marianas onde atravessam um portal mágico que os levam para dentro de uma caverna um tanto misteriosa.
                <br><br>É assim, entre enigmas e aventuras sinistras que conhecem o verdadeiro poder da lendária pedra da água e as intenções de um temível vilão, que fará de tudo para encontrar o outro pedaço dessa relíquia que está com Frank para junta-la às outras três (fogo, ar e terra) e colocar seu plano malígno em prática, destruir o planeta.
                <br><br>Durante sua incrível jornada Frank e seus amigos conhecem e lutam com diversos seres fantásticos, encorajando e tornando o grupo cada vez mais forte e unido.
                <br><br>Pegue sua mochila, seu passaporte e embarque junto nessa eletrizante aventura.
                <br><br>Boa Litura!
                <br><br>Marcelo Gamón
            </span>
        </div>

    </div>

<!--Final do Mobile-->


<!--Inicio do Desktop-->

<div class="livro1_page_desktop">
        <div class="separacao_lados">

            <div class="lado_esquerdo">
                <img id="capa_desktop" src="../img/capa_livro1.jpg">

                <div id="spans_desktop">
                    <span id="span3_desktop">Publicação:</span>
                    <span id="span4_desktop">1ª edição (8 junho 2021)</span>
                </div>
                <div id="spans_desktop">
                    <span id="span3_desktop">Idioma:</span>
                    <span id="span4_desktop">Português</span>
                </div>
                <div id="spans_desktop">
                    <span id="span3_desktop">Número de páginas:</span>
                    <span id="span4_desktop">302 páginas</span>
                </div>
                <div id="spans_desktop">
                    <span id="span3_desktop">Categoria:</span>
                    <span id="span4_desktop">Literatura Infanto-Juvenil</span>
                </div>
                <div id="spans_desktop">
                    <span id="span3_desktop">ISBN (Ebook):</span>
                    <span id="span4_desktop">978-65-00-24538-7</span>
                </div>
                <div id="spans_desktop">
                    <span id="span3_desktop">ISBN (Capa Dura):</span>
                    <span id="span4_desktop">978-65-00-31663-6</span>
                </div>

            </div>
            
            <div class="lado_direito">
                <h1>FRANK PAYNE</h1>
                <h2>E A<br>CAVERNA MISTERIOSA</h2>
                <h3>Livro 1</h3>
        
                <span id="span2_desktop">O empolgante início da série de cinco livros sobre as
                aventuras fantásticas de
                Frank Payne</span>
            
                <div id="formatos_links_desktop">
                    <h3> FORMATOS DISPONÍVEIS</h3>
                    <button class="ebook_submit_desktop" data-button="" type="submit" onclick = "window.open ('https://www.wattpad.com/story/272868084-frank-payne-e-a-caverna-misteriosa', '_ blank');" >Ebook</button>
                    <button class="capaDura_submit_desktop" data-button="" type="submit">Capa Dura</button>
                </div>

                <span id="span1_desktop">Clique no ícone abaixo, faça grátis o download dos primeiros capítulos em PDF e comece a ler agora mesmo</span>
                <a id="a_download_icon_desktop" href="../pdf/Frank_Payne_01_amostra.pdf" download><img id="download_icon_desktop" src="../img/download.svg"></a>
    
            </div>
        </div>

        <div class="info_livro_desktop">
            <span id="span5_desktop">FRANK PAYNE E A CAVERNA MISTERIOSA</span>
            <span id="sinopse_desktop">Até onde você iria para encontrar seu pai desaparecido e dado como morto há cinco anos, mas que acabara de se comunicar com você de uma forma totalmente imprevisível?
                <br><br>Frank Payne, um garoto de 17 anos, acabou de receber do mar uma enigmática pedra que faz sua vida virar de cabeça para baixo, após descobrir algumas inscrições em uma língua desconhecida indicando o paradeiro de seu pai Douglas, que desapareceu há cinco anos.
                <br><br>Junto de sua amiga Barbara e seu avô Walter partem para a ilha de Guam, no extremo pacífico. Dentro de um submarino chegam às profundezas do oceano, precisamente na Fossa das Marianas onde atravessam um portal mágico que os levam para dentro de uma caverna um tanto misteriosa.
                <br><br>É assim, entre enigmas e aventuras sinistras que conhecem o verdadeiro poder da lendária pedra da água e as intenções de um temível vilão, que fará de tudo para encontrar o outro pedaço dessa relíquia que está com Frank para junta-la às outras três (fogo, ar e terra) e colocar seu plano malígno em prática, destruir o planeta.
                <br><br>Durante sua incrível jornada Frank e seus amigos conhecem e lutam com diversos seres fantásticos, encorajando e tornando o grupo cada vez mais forte e unido.
                <br><br>Pegue sua mochila, seu passaporte e embarque junto nessa eletrizante aventura.
                <br><br>Boa Litura!
                <br><br>Marcelo Gamón
            </span>
        </div>
</div>

<!--Final do desktop-->


</body>

<%- include('./footer.ejs') %>

</html>