<!--Inicio do personagens_desktop-->
<div class="personagens_desktop">
    <div class="pers_info_desktop">
        <h2>Personagens</h2>
        <p>Clique nos personagens para conhecer mais sobre eles e suas histórias.</p>
        <span>Atenção: Podem conter Spoilers.</span>
    </div>
    <div class="pers_img_desktop">
        <div id="pFrank_desktop">
            <img src="../img/frank_perfil.png">
            <h3>Frank Payne</h3>
        </div>
        <div id="pBarbara_desktop">
            <img src="../img/barbara_perfil.png">
            <h3>Barbara Bell</h3>
        </div>
        <div id="pWalter_desktop">
            <img src="../img/walter_perfil.png">
            <h3>Walter Payne</h3>
        </div>    
        <div id="pMark_desktop">
            <img src="../img/mark_perfil.png">
            <h3>Mark Wolf</h3>
        </div>    
        <div id="pEmily_desktop">
            <img src="../img/emily_perfil.png">
            <h3>Emily Cruz</h3>
        </div>
        <div id="pJason_desktop">
            <img src="../img/jason_perfil.png">
            <h3>Jason Cruz</h3>
        </div>
        <div id="pThomas_desktop">
            <img src="../img/thomas_perfil.png">
            <h3>Thomas Wolf</h3>
        </div>
        <div id="pGeneral_desktop">
            <img src="../img/general_perfil.png">
            <h3>Gen. Nelson</h3>
        </div>    
        <div id="pErik_desktop">
            <img src="../img/erik_perfil.png">
            <h3>Erik Morgan</h3>
        </div>    
        <div id="pPeixomem_desktop">
            <img src="../img/peixomem_perfil.png">
            <h3>Peixomem</h3>
        </div>
        <div id="pAquanator_desktop">
            <img src="../img/aquanator_perfil.png">
            <h3>Aquanator</h3>
        </div>
        <div id="pArasgain_desktop">
            <img src="../img/arasgain_perfil.png">
            <h3>Bhaltair Arasgain</h3>
        </div>
        <div id="pLuiz_desktop">
            <img src="../img/luiz_perfil.png">
            <h3>Luiz Garcia</h3>
        </div>    
        <div id="pCadassi_desktop">
            <img src="../img/cadassi_perfil.png">
            <h3>Mestre Cadassi</h3>
        </div>    
        <div id="pOliver_desktop">
            <img src="../img/oliver_perfil.png">
            <h3>Oliver Trik</h3>
        </div>
        <div id="pDouglas_desktop">
            <img src="../img/douglas_perfil.png">
            <h3>Douglas Payne</h3>
        </div>
        <div id="pElizabeth_desktop">
            <img src="../img/elizabeth_perfil.png">
            <h3>Elizabeth Payne</h3>
        </div>
        <div id="pPedro_desktop">
            <img src="../img/pedro_perfil.png">
            <h3>Pedro Bell</h3>
        </div>    
        <div id="pRose_desktop">
            <img src="../img/rose_perfil.png">
            <h3>Rose Bell</h3>
        </div>    
        <div id="pHugodzilla_desktop">
            <img src="../img/hugodzilla_perfil.png">
            <h3>Hugodzilla</h3>
        </div>
        <div id="pMontanha_desktop">
            <img src="../img/montanha_perfil.png">
            <h3>Sergio Montanha</h3>
        </div>
        <div id="pArtmeck_desktop">
            <img src="../img/artmeck_perfil.png">
            <h3>Artmeck</h3>
        </div>
        <div id="pBolduf_desktop">
            <img src="../img/bolduf_perfil.png">
            <h3>Bolduf</h3>
        </div>    
        <div id="pGrimlock_desktop">
            <img src="../img/grimlock_perfil.png">
            <h3>Grimlock</h3>
        </div>
        <div id="pDevorador_desktop">
            <img src="../img/devorador_perfil.png">
            <h3>Devorador de Mentes</h3>
        </div>    
    </div>
</div>
<!--Final do personagens_desktop-->
