/*Inicio do Mobile*/

body{
    background: #020406;
}

.contato_page_desktop{
    display: none;
}

.contato_page_mobile{
    display: flex;
    flex-direction: column;
    background-color: #132634;
    border-radius: 10px;
    width: 93%;
    margin: 75px 3.5% 0 3.5%;
    justify-content: center;
}

.contato_container_mobile{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contato_container_mobile > h1{
    color: #FFFFFF;
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 0 15px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

#img_contato_mobile{
    width: 30vw;
    align-self: center;
    margin-bottom: 20px;
}

#span_mobile{
    color: #FFFFFF;
    font-size: 4.3vw;
    font-weight:lighter;
    text-align: justify;
    margin: 0px 0 20px 0;
    padding: 0 25px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

/*Final do Mobile*/




/*Inicio do Desktop*/

@media (min-width: 769px) {

.contato_page_mobile{
    display: none;
}

body{
    background-image: url(../img/img_header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.contato_page_desktop{
    display: flex;
    flex-direction: column;
    background-color: rgba(41, 41, 41, 0.699);
    margin: 10vw 8vw 0 8vw;
    padding: 1.5vw 2vw;
}

.separacao_lados_desktop{
    display: flex;
    flex-direction: row;
}

.lado_esquerdo_desktop{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

#img_contato_desktop{
    width: 20vw;
    align-self: center;
    margin-bottom: 10px;
}


.lado_direito_desktop{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

#form_box_desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato_container_desktop{
    display: flex;
    flex-direction: column;
}

.contato_container_desktop > h1{
    color: #FFFFFF;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.contato_container_desktop > h3{
    color: #FFFFFF;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

.form_desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1vw;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    

}

#contato_nomes_desktop{
    display: flex;
    flex-direction: row;
    width: 93%;
    align-self: center;
}

#name_desktop{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 10px;
}

#field_contato_nome_desktop{
    border-radius: 20px;
    height: 27px;
    padding-left: 7px;
    font-size: 1vw;
}

#lastName_desktop{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-bottom: 10px;
    align-self: center;
}

#field_contato_sobrenome_desktop{
    border-radius: 20px;
    height: 27px;
    padding-left: 7px;
    font-size: 1vw;
}

#email_desktop{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-bottom: 10px;
    align-self: center;
}

#field_contato_email_desktop{
    border-radius: 20px;
    height: 27px;
    padding-left: 0.6vw;
    font-size: 1vw;
}

#mensagem_desktop{
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-bottom: 10px;
    align-self: center;
}

#field_contato_mensagem_desktop{
    border-radius: 20px;
    height: 27px;
    padding: 10px 0.6vw 10px 0.6vw;
    font-size: 1vw;
    height: 133px;

}

.btn_contato_desktop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

#contato_submit_desktop{
    border-radius: 30px;
    background-color: #d4af37 ;
    width: 40%;
    padding: 10px 20px;
    color: #ffffff;
    border: 0px;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.4vw;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-shadow: 
    -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
    1px -1px 0px #000,                  
    1px 0px 0px #000;    
}

#contato_submit_desktop:hover{
    transition: all 0.3s;
    background-color: #f9a109de ;
}


}

/*Final do Desktop*/